*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul{
    display: flex;
    justify-content: space-evenly;
}

li{
   list-style: none;
   text-align: center;
   margin: 8px;
   width: 110px;
   height: 18px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 18px;
   color: #2C3539;
   }
  li :hover {
    color: aqua;
  }

a{
    text-decoration: none;
}
h2{
position: absolute;
width: 450px;
height: 153px;
left: 188px;
top: 335px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 53px;
letter-spacing: -0.01em;
color: #232C35;

}
.p-1{
position: absolute;
width: 511px;
height: 39px;
left: 188px;
top: 463px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 114.5%;
letter-spacing: -0.01em;
color: #4F4F4F;
}

.image-1{
position: absolute;
width: 577px;
height: 551px;
left: 720px;
top: 115px;
background: url(image.png);
}

.section-2{
position: absolute;
width: 1349px;
height: 1200px;
left: 0px;
top: 666px;
background: #5C1A8D;
}
h4{
    position: absolute;
    width: 614px;
    height: 72px;
    left: 397px;
    top: 100px;
     font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 112.5%;
    text-align: center;
    letter-spacing: -0.01em;
     color: #FFFFFF;
    }
    h4{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 26px;
    }

.p-2{
position: absolute;
width: 497px;
height: 89px;
left: 443px;
top: 230px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 114.5%;
text-align: center;
letter-spacing: -0.01em;
color: #E0E0E0;
  }

  .image-2{
    position: absolute;
    width: 272px;
    height: 547px;
    left: 294px;
    top: 300px;
    /* background: url(iPhone X .png);
    filter: drop-shadow(15px 10px 70px rgba(0, 0, 0, 0.49)); */
  }
  .image-3{
    position: absolute;
    width: 59px;
    height: 59px;
    left: 600px;
    top: 400px;
    
  }

  .step-1{
    position: absolute;
    width: 30px;
    height: 59px;
    left: 612px;
    top: 420px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 114.5%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
  }
  .step-1-1{
    position: absolute;
    width: 157px;
    height: 27px;
    left: 680px;
    top: 380px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 112.5%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  .step-1-2{
    position: absolute;
    width: 379px;
    height: 43px;
    left:680px;
    top: 420px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 17.3px;
    line-height: 114.5%;
 letter-spacing: -0.01em;
    color: #F7F7F7;
    
  }

  .image-4{
    position: absolute;
    width: 59px;
    height: 59px;
    left: 600px;
    top: 500px;
  }
  .step-2{
    position: absolute;
    width: 30px;
    height: 16px;
    left: 612px;
    top: 520px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 114.5%;
     text-align: center;
    letter-spacing: -0.01em;
     color: #000000;
  }
  .step-2-1{
    position: absolute;
    width: 230px;
    height: 27px;
    left: 680px;
    top: 480px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 112.5%;
     letter-spacing: -0.01em;
    color: #FFFFFF;
  }
  .step-2-2{
    position: absolute;
    width: 379px;
    height: 64px;
    left: 680px;
    top: 520px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 17.3px;
    line-height: 114.5%;
    letter-spacing: -0.01em;
    color: #F7F7F7;
     }
  .image-5{
    position:absolute;
    width:59px;
    height:59px;
    left:600px;
    top:600px;
      }
  .step-3{
     position: absolute;
     width: 30px;
     height: 16px;
     left: 615px;
     top: 619px;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 114.5%;
     text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
        }
        
 .step-3-1{
     position: absolute;
     width: 147px;
     height: 27px;
     left: 680px;
     top: 595px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 112.5%;
     letter-spacing: -0.01em;
     color: #FFFFFF;

}

.step-3-2{
    position: absolute;
    width: 379px;
    height: 89px;
    left: 680px;
    top: 630px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 114.5%;
    letter-spacing: -0.01em;
    color: #E0E0E0;
}

.section-3{
position: absolute;
width: 718px;
height: 920px;
left: 0px;
top: 1863px;
background: rgba(167, 146, 254, 0.07);
}

h5{
position: absolute;
width: 259px;
height: 41px;
left: 589px;
top: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 112.5%;
text-align: center;
letter-spacing: -0.01em;
color: #232C35;
}
.image-6{
position: absolute;
width: 64px;
height: 64px;
left: 200px;
top: 200px;
}
.image-6-1{
  position: absolute;
  left: 210px;
  right: 2.04%;
  top: 210px;
  bottom: 0%;
}
.step-4{
position: absolute;
width: 122px;
height: 23px;
left: 200px;
top: 280px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 112.5%;
letter-spacing: -0.01em;
color: #232C35;
}
.step-4-1{
position: absolute;
width: 338px;
height: 89px;
left: 200px;
top: 320px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
letter-spacing: -0.01em;
color: #4F4F4F;
}
.image-7{
position: absolute;
width: 64px;
height: 64px;
left: 200px;
top: 450px;
}
.image-7-1{
position: absolute;
left: 213px;
right: 0.83%;
top: 467px;
bottom: 0;
}
.step-5{
position: absolute;
width: 122px;
height: 23px;
left: 200px;
top: 527px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 112.5%;
letter-spacing: -0.01em;
color: #232C35;
}
.step-5-1{
position: absolute;
width: 338px;
height: 89px;
left: 200px;
top: 565px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
letter-spacing: -0.01em;
color: #4F4F4F;
}
.image-8{
position: absolute;
width: 64px;
height: 64px;
left: 800px;
top: 200px;
}
.image-8-1{
position: absolute;
left: 813px;
right: 12.5%;
top: 213px;
bottom: 9.38%;
}
.step-6{
position: absolute;
width: 122px;
height: 23px;
left: 800px;
top: 280px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 112.5%;
letter-spacing: -0.01em;
color: #232C35;
}
.step-6-1{
position: absolute;
width: 338px;
height: 89px;
left: 800px;
top: 320px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
letter-spacing: -0.01em;
color: #4F4F4F;
}
.image-9{
position: absolute;
width: 64px;
height: 64px;
left: 800px;
top: 450px;
}
.image-9-1{
position: absolute;
left: 823px;
right: 27.68%;
top: 475px;
bottom: 34.82%;
}
.step-7{
position: absolute;
width: 102px;
height: 23px;
left: 800px;
top: 530px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 112.5%;
letter-spacing: -0.01em;
color: #232C35;
}
.step-7-1{
position: absolute;
width: 338px;
height: 89px;
left: 800px;
top: 570px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
letter-spacing: -0.01em;
color: #4F4F4F;
}
.section-4{
position: absolute;
width: 1349px;
height: 450px;
left: 0px;
top:2680px;
background: #F2C94C;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.form-part {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 1.2rem;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50vw;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  max-height: 50px;
}

button[type="submit"] {
  background-color: #d9e2ec;
  color: black;
  font-size: large;
  font-weight: bold;
  max-width: 50vw;
  max-height: 2.5vw;
  padding: 10px 20px;
  padding-bottom: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3; 
}

.h-captcha {
  margin-top: 10px;
}

h6{
position: absolute;
width: 411px;
height: 41px;
left: 514px;
top: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 114.5%;
letter-spacing: -0.01em;
color: #232C35;
}
.step-8-1{
position: absolute;
width: 495px;
height: 43px;
left: 490px;
top: 150px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 114.5%;
text-align: center;
letter-spacing: -0.01em;
color: #233533;
} 
.email{
box-sizing: border-box;
position: absolute;
width: 342px;
height: 48px;
left: 465px;
top: 250px;
border: 2px solid #FFFFFF;
}
.email-2{
position: absolute; 
width: 42px;
height: 13px;
left: 50px;
top: 15px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
line-height: 12px;
align-items: center;
text-align: center;
color:#FFFFFF;
}

.subscribe{
position: absolute;
width: 157px;
height: 48px;
left: 818px;
top: 250px;
background: #2C3539
}
.subscribe-2{
position: absolute;
width: 73px;
height: 13px;
left: 45px;
top: 15px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
line-height: 12px;
align-items: center;
text-align: center;
color:#FFFFFF;
}
.footer{
position: absolute;
width: 1349px;
height: 70px;
left: 0px;
top: 400px;
background: #DEB63D;
}
.final-1{
position: absolute;
width: 1000px;
height: 10px;
left: 139px;
top: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 9px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.final-2{
  position: absolute;
  width: 500px;
  height: 10px;
  left: 700px;
  top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 9px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }

  .final-3{
  position: absolute;
  width: 500px;
  height: 10px;
  left: 800px;
  top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 9px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }
  /* mobile */
  @media only screen and (max-width: 480px){
      li{
    position: relative;
    left: 800px;
    margin: 5px;
    }
    
}
  
